body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #522cd1; */
}
h1,h2{
    color: #522cd1;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;

    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
p{
    font-size: 1.1rem;
}

table tr td, table tr th{
    background-color: rgba(0,0,0, 0) !important;
}
.table>:not(caption)>*>* {
    color: white;
}

header{
    height: 100vh;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 0 4rem 0 4rem;
    overflow: hidden;
    /* background-color: #522cd1; */
    color: #cacaca;
    background: linear-gradient(to right, #522cd1 30%, #6f42c1 100%);  
}
header > div{
    width: 50%;
}
header img.perfil{
    width: 50%;
}
header a img{
    width: 4rem;
    margin-right: 2rem;
    transition: .5s;
    filter: drop-shadow(0px 1px 1.5px #fff);
}
header a img:hover{
    /* transform: rotateZ(-10deg);
    opacity: .6; */
    filter: drop-shadow(0px 1px 1.5px #d600aa);
    transform: scale(1.07);
}
header a img.playstore{
    width: 3rem;
    padding: .5rem;
}
header h1{
    color: #fff;
    margin:0;
    text-align: start;
    font-size: 6rem;
    margin-bottom: 2rem;
    
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}
header p{
    font-size: 1.3rem;
}

section.skills{
    background-color: #522cd1;
    color: #eeeeee;
    padding: 1rem 4rem 1rem 4rem;
}
section.skills h2{
    color:#fff;
    text-align: center;
}
section.skills .skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1rem;
}
section.skills .skills-container > div{
    width: 15%;
}


section.projects{
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
/*
section.projects .projects-group{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
}
section.projects .projects-group .project{
    width: 40%;
    background-color: #fff;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 7px 4px #00000023;
    text-align: center;
}
*/
section.projects .projects-group{
    margin-top: 0rem;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    gap: 0rem;
}
section.projects .projects-group .project{
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
     */
     display:flex;
    column-gap: 1rem;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    margin-top: 6rem;
}
section.projects .projects-group .project video{
    width: 50%;
    border-radius: 1rem;
}
section.projects .projects-group .project img{
    width: 50%;
    border-radius: 1rem;
    object-fit: contain;
}
section.projects .projects-group .project h4{
    font-size: 1.6rem;
    /* background-color: #522cd1; */
    color: #522cd1;
    /* border-radius: 1rem; */
    text-align: start;
    padding: .2rem;
    padding-left: 1rem;

    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
section.projects .projects-group .project p{
    padding-left: 1rem;
}
section.projects .projects-group .project a{
    padding-left: 1rem;
    text-decoration: none;
}
section.projects .projects-group .project a img{
    position: relative;
    width:8%;
    margin-right: 1rem;
    border-radius: 0;
    transition: .5s;
}
section.projects .projects-group .project a img:hover{
    transform: rotateZ(-10deg);
    opacity: .6;
}


section.about{
    background-color: #522cd1;
    color: #eeeeee;
    text-align: center;
    padding: 1rem 6rem 2rem 6rem;
    margin-bottom: 6rem;
    min-height: 100vh;
}
section.about h2{
    color:#fff;
    margin-bottom: 2rem;
}
section.about ul{
    list-style: none;
}
section.about ul li{
    text-align: start;
    padding: .5rem 1rem .5rem 1rem;
    background-color: white;
    border-radius: 1rem;
}
section.about p{
    line-height: 2rem;
    color: black;
}

#cv{
    display: block;
    margin: auto;
    margin-top: 3rem;
}
.cv h2{
    margin-bottom: 2rem;
}
a.cv{
    display: none;
}
footer{
    margin-top: 4rem;
    padding: 1rem;
    /* background-color: #522cd1; */
    background: linear-gradient(to right, #522cd1 30%, #6f42c1 100%);  
}
footer .buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    
}
footer .buttons a{
    width: 20%;
    padding: 1.5rem;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 1rem;
    transition: .5s;
    background-color: #ffffff;
}
/* footer .buttons a.linkedin:hover{
    background-color: #2866b3;
    border: 1px solid #eee;
}
footer .buttons a.github:hover{
    background-color: black;
    border: 1px solid #eee;
} */
footer .buttons a:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
footer p.copyright{
    text-align: center;
    color: #eeeeee;
}



.bounce-in-left {
	animation: bounce-in-left 1.1s both;
}
 @keyframes bounce-in-left {
    0% {
      transform: translateX(-600px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateX(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateX(-68px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateX(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateX(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateX(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateX(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateX(0);
      animation-timing-function: ease-out;
    }
  }
  
  
  